[workspace]
members = ["modules/beverley", "xtask"]
resolver = "2"

[profile.release]
lto = "fat"
opt-level = 3
codegen-units = 1
strip = "symbols"

[profile.profiling]
inherits = "release"
strip = "none"
debug = true
